@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Regular.ttf);
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
html{
    background-color: black;
    font-family: Atkinson;
}
body{
    color: white;
}
body > a{
    color: grey;
}
body > div{
    display: block;
    margin: auto;
    width: fit-content;
}
table{
    margin-top: 50%;
    padding: 10px;
}
/*tr{
}*/
td{
    border-top: 3px dashed rgb(123, 123, 123);
    padding: 10px;
}
td > img{
    height: 50px;
}
#pcList{
    display: flex;
    flex-direction: column;
}
#pcList div{
    padding: 10px;
}