@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible.ttf);
}
html{
    font-family: Nunito;
}
a{
    text-decoration: none;
}
i{
    font-size: small;
    
}