@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
 @media only screen and (orientation: portrait){
    .textbox {
        position: fixed;
        min-width: 50%;
        width: 500px;
        transform: translate3d(-30%,-50%,0px) scale(200%);
        top: 50%;
        left: 60%;
    }
    #header{
        position: static;
    }
    h1{
        position: fixed;
        top: 0;
        width: 100%;
    }
    #above{
        height: 100%;
    }
    #below{
        display: none;
    }
    body{
        max-height: 100vh;
    }
    #radio{
        position: fixed;
    }
    #bottom{
        bottom: 0%;
        font-size: 2rem;
    }
    #links{
        width: 70%;
    }
}
 @media only screen and (orientation: landscape){
    .textbox {
        position: absolute;
        width:fit-content;
        transform: translate3d(-50%,-50%,0px) scale(120%);
        left: 50%;
        top: 50%;

    }
    #header{
        position: static;
    }
    h1{
        position: static;
    }
    #radio{
        position: absolute;
    }
    #above{
        height: 100vh;
    }
    #below{
        
        height: 100vh;
        background-color: #0a0a0a;
    }
    #navbar{
        box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
        background-image: linear-gradient(90deg,navy,#1084d0);
        padding: 3px 2px 3px 3px;
    }
    #navbar-text{
        color: white;
    }
    #bottom{
        bottom: -100%;
        font-size: 1rem;
    }
    #links{
        width: 75%;
    }
    /*#links div{
        border-left: #b1dfff dashed;
    }*/
}
body::-webkit-scrollbar {
  display: none;
}
body{
    margin: 0px;
    font-family: Nunito;
    background: #885050;
    -ms-overflow-style: none;
}
#header{
    margin: 0px 10px 10px 10px;
    transform: translateY(10px);
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(70deg, rgb(66, 101, 226) 0px, rgb(66, 101, 226) 55%, rgb(189, 1, 218) 100%);
    background-size: auto;
    background-origin: padding-box;
    font-size: 20pt;
    font-style: italic;
    z-index: 2;
}


a.header:link {text-decoration:none;color: rgb(66, 101, 226);}
a.header:visited {text-decoration:none;color: rgb(66, 101, 226);}
a.header:hover {text-decoration:none;color: rgb(189, 1, 218);}

#radio{
    top: 0;
    left: 50%;
    height: 100%;
    pointer-events: none;   
    z-index: 1;
}

.textbox{
    
    /*backdrop-filter: blur(6px);*/
    border: 0cap;
    border-color:#cf5797;
    border-style: solid;
}

#links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#links a:link{text-decoration:none;color: rgb(129, 34, 223);}
#links a:visited{text-decoration:none;color: rgb(129, 34, 223);}

#links div{
    padding: 2px;
    font-style: italic;
    font-size: 10pt;
}
#updatesPane{
    display: flex;
    max-width: 280px;

}
#updatesPane div{
    padding: 5px;
    overflow: auto;
    max-height: 100px;
    scrollbar-width: none;
}
#above{
    background: linear-gradient(40deg,rgba(164, 189, 227, 1) 0%, rgba(100, 155, 227, 1) 49%, rgba(61, 122, 194, 1) 86%);
}
#bottom{
    color:white;
    position: absolute;
    width: 100%;
}
#bottom > div{
    width: fit-content;
    display: block;
    margin: auto;
}