@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Regular.ttf);
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
body{
    font-family: Atkinson;
    background-image: url(ublogResources/background.png);
}
#blogs{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    max-width:800px;
}
#blogs > div{
    border-style: dashed;
    border-color: rgb(173, 173, 173);
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(66, 61, 61);
}
#blogs > div > h3{
    font-size: large;
    color: white;
    text-decoration: overline;
}
#blogs > div > p{
    font-size: large;
    color: rgb(255, 255, 255);
}
a{
    font-size: large;
    color: rgb(27, 219, 229);
}
#blogs > div > i{
    font-size: medium;
    color: rgb(199, 199, 199);
}
#blogs img{
    width: 100%;
}
