@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Italic.ttf);
    font-style: italic;
}
html{
    font-family: Nunito;
    background-image: linear-gradient(#00c8ff,#00e08a);
}
body{
    margin: 0;
}
#main{
    margin: 10px;
}
#header{
    padding: 10px;
    background-color: #14181c;
    font-family: Atkinson;
    font-style: normal;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    
}
#header > div{
    display: flex;
    flex-direction: column;
}
#header a{
    color: #00c8ff;
    text-decoration: none;
}
h3,h2{
    text-decoration: overline;
    font-family: Atkinson;
}
h5, ol{
    font-family: Atkinson;
}

/*THE SECTION FOR THE ALBUMS*/


#albums .year{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.album{
    max-height: 200px;
    max-width: 600px;
    padding: 10px;
    border: solid;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 10px;
    background-color: #14181c;
}

.graphic img{
    width: 200px;
}

.art{
    z-index: 2;
    position:relative;
}
.disc{
    z-index: 1;
    position:absolute;
    transform: translateX(-100%) rotate(-90deg);
    transition: transform 0.5s;
    animation-name: spin;
    animation-duration: 2s;
}
.spacing{
    width: 300px;
}
#albums .art:hover + .disc{
    transform: translateX(-50%) rotate(0deg);
}
#albums .disc:hover{
    transform: translateX(-50%) rotate(0deg);
}



.text{
    overflow:auto;
    position: relative;
    color: white;
    scrollbar-width: none;
}
.text > h4{
    margin-top: 0;
}
.text > h5,li,p{
    color: rgb(159, 159, 159);
}
.text h3{
    color: #00e08a;
}
#albums a{
    color: #00c8ff;
}






/*THE SECTION FOR THE WRAPPED*/


#wrapped img{
    width: 200px;
}