@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Regular.ttf);
}
html{
    font-family: Atkinson;
}

#main{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    > div{
        position: relative;
        border: solid;
        margin: 10px;
        padding: 10px;
        max-width: 200px;
        h4{
            margin-top: 0px;
            margin-bottom: 0;
        }
        h6{
            margin-top: 0;
        }

        .version{
            position: absolute;
            margin: 2px;
            bottom: 0;
            right: 0;
        }
    }
}
a{
    text-decoration: none;
}
i{
    font-size: small;
    
}
