@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible.ttf);
}
html{
    font-family: Nunito;
}
body{
    > div{
        border-bottom: dashed;
    }
}
a{
    text-decoration: none;
}
i{
    font-size: small;
    
}

#rotator{
    max-width: 900px;
    img{
        width: 500px;
    }
    .imageCollection{
        background-color: #f2f2f2;
        display: flex;
        flex-direction: row;
        img{
            padding: 10px;
            width: 100%;
        }
    }

    .caption{
        font-style: italic;
        padding-left: 20px;
        margin-top: 0;
        background-color: #f2f2f2;
    }
}