@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Regular.ttf);
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
body{
    font-family: Atkinson;
    background-image: url(ublogResources/background.png);
    background-attachment: fixed;
}

#newBlogs{

    background-color: white;
    background-image: url(ublogResources/paper.png);
    width: 70%;
    margin: auto;

    .photoGallery{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    > div{
        margin: 10px;
        padding-top: 10px;
        font-size: large;
        position: relative;

        > h3{
            text-decoration: overline;
        }
        img.polaroid{
            width: 200px;
            background-color: rgb(255, 255, 255);
            border: solid 2px rgb(159, 159, 159);
            padding: 10px;

        }
    }
}

.cinemaTicket{
    background-color: white;
    font-family: Arial;
    width: 470px;
    height: 270px;
    display: flex;
    border: solid 2px rgb(159, 159, 159);
    flex-direction: row;
    .left{
        display: flex;
        background-color: red;
        border-right: dashed;
        width: 23%;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        position: relative;
        div{
            height: fit-content;
            margin: auto;
            p{  
            
                position: relative;
                font-size: 12px;
                margin: 0;
            }
        }

    }
    
    .right{
        width: 100%;
        padding-left: 20px;
        h2{
            color: red;
            font-size: 40;
            margin: 0px;
            margin-top: 20px;
            letter-spacing: -0.4rem;
            line-height: 40px;
        }
        p{
            line-height: 10px;
            font-size: 10;
            margin: 0px;
            
        }
        img{
            padding-top: 10px;
            width: 40%;
        }
        h3{
            margin: 0;
        }
        h4{
            margin: 0;
        }
        h5{
            margin: 0;
        }
    }
    .righter{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        width: fit-content;
        position: relative;
        div{
            margin: auto;
            position: relative;
            height: fit-content;
            h2{
                margin: 0;
                b{  
                    color: red;
                    font-size: 15;
                }
            }
        }

    }
}







#blogs{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    max-width:800px;
}
#blogs > div{
    border-style: dashed;
    border-color: rgb(173, 173, 173);
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(66, 61, 61);
}
#blogs > div > h3{
    font-size: large;
    color: white;
    text-decoration: overline;
}
#blogs > div > p{
    font-size: large;
    color: rgb(255, 255, 255);
}
#blogs a{
    font-size: large;
    color: rgb(27, 219, 229);
}
#blogs > div > i{
    font-size: medium;
    color: rgb(199, 199, 199);
}
#blogs img{
    width: 100%;
}


