body{
    font-family: Atkinson;
    background-image: linear-gradient(rgb(145, 221, 164),rgb(85, 196, 183));
    background-attachment: fixed;


}
@media only screen and (orientation: portrait) {
    #blogThumbs{
        max-width: 800px;
        justify-content: center;
    }
    .blankthumb{
        display: none;
    }
}
@media only screen and (orientation: landscape) {
    #blogThumbs{
        max-width: 1520px;
        justify-content: left;
    }
    .blankthumb{
        display: block;
    } 

}

#blogThumbs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    /*border-bottom: dashed white 2px;*/
    img{
        
        border-radius: 5px;
        height: 200px;
        transition: ease 0.5s;
    }
    .image{
        position: absolute;
        z-index: 2;
        
    }
    .image:hover{
        opacity: 0;
    }
    .clip:hover .image{
        opacity: 0;
    }
}

.thumb, .blankthumb{
    width: min-content;
    height: 200px;
    position: relative;
    border: solid 2px white;
    border-radius: 5px;
    margin: 10px;
}

.blankthumb{
    img{
        opacity: 0;
    }
}