@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Italic.ttf);
    font-style: italic;
}
html{
    font-family: Nunito;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    width: 100%;

#header{
    z-index: 4;
    position: sticky;
    display: flex;
    width: fit-content;
    top: 0;
    padding: 10px;
    background-color: white;
    a{
        color: black;
        text-decoration: none;
        margin-right: 10px;     
    }
    

}
#contents{
    pointer-events: all;
    position: sticky;
    left: 100%;
    top: 20px;
    width: 350px;
    z-index: 5;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border: solid black 3px ;
    border-radius: 8px;
    font-size: 12;
    font-weight: bold;
    ul{
        padding: 20px;
        list-style-type: none;
        margin: 0;
    }
    li{
        margin-bottom: 5px;
    }
    a{
        text-decoration: none;
        color: black;
        
        
    }
    pre{
        margin: 0;
        font-family: Arial;
    }
}

#contentspagenumbers{
    margin-left: 0;
}

.center{
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.center_wide{
    margin: auto;
    width: 100%;
    max-width: 1600px;
}

}
body{
    font-family: Arial;
    font-size: 20;
    position: relative;
    background-color: white;
    margin: 0;
    width: 100%;
}
.subtitle{
    font-family: Arial;
    font-weight: bold;
    font-size: 40;
    color: black;
    background-color: white;
    border: solid black 4px;
    width: fit-content;
    padding: 10px;
}

p{
    font-family: Arial;
    font-size: 20;
    
}

#mapdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    a{
        position: absolute;
        border: black solid 3px;
    }


}

#characters{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    max-height: 1000px;
    overflow: auto;


    h4{
        margin: 5px;
    }

    .subCharacters{
        display: flex;
        flex-direction: row;


        h3{
            width: 150px;
        }

        div{
            max-width: 250px;
            padding: 10px;
            margin: 10px;
            border: solid;
            width: 300px;
            img{
                margin: auto;
                display: block;
                height: 300;
                max-width: 100%;
                
            }
        }
    }
}