:root{
    --pink: #f267ff
}

@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

body{

    font-family: Nunito;
    background-image: url("dusk.jpg");
    background-size: auto;
    background-size: 100%;
    padding: 1rem;
}

aside{
    width: 200px;
    background-image: linear-gradient(180deg,var(--pink),#e6c1fd,#ffffff);
    display: flex;
    flex-direction: column;
}

main{
    order: 2;
    max-width: 720px;
    background-color: #c3cbf2;
    flex: 1;
    background-image: url("paper.png");
    padding: 15px;

}
main a{
    color: #c23a9b;
}
main a:hover{
    color: #8a226d;
}

        #header {

            max-width: 950px;
            margin: auto;
            background-color: #d667ff;
            /* header color here! */
            height: 150px;
            /* this is only for a background image! */
            /* if you want to put images IN the header, 
        you can add them directly to the <div id="header"></div> element! */
            background-image: url(flowersDith.png);
            background-size: 100%;
        }

/* navigation section!! */
        #navbar {
            
            height: 40px;
            margin: auto;
            background-color: var(--pink);
            /* navbar color */
            max-width: 950;
        }

        #navbar ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style-type: none;
            justify-content: space-evenly;
        }

        #navbar li {
            padding-top: 10px;
        }

        /* navigation links*/
        #navbar li a {
            color: #75f6f6;
            /* navbar text color */
            font-weight: 800;
            text-decoration: none;
            /* this removes the underline */
        }
        #navbar li a:hover {
            position: relative;
            color: #306396;
            z-index: 2;
        }

.imageflex { display: flex; }
.imageflexcontent { margin-left: 5px; margin-top: 0; }

#para1{
    line-height: 1.6;
    transform: translate(0px,-40px);
}
.window-main   {
    /*width: fit-content;*/
    background-color: #dfdfdf;
    /* box-shadow: 2px 2px 10px 5px #a16792; */
    border-style: solid;
    border-color: #ffffff #575757 #575757 #ffffff;
    border-width: 2px;
    margin: 0.75rem;
}

.window-header {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    background-image: linear-gradient(90deg, #ed76ed, #f8b1f7);
    padding: 0.1rem;
    padding-right: 0.15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-table{
    width: 100%;
}
.window-content { 
    margin: 1rem;
    color: #000000;
    font-size: 1.12rem;
    text-wrap: break-word;
    text-align: top;
    font-size: medium;
    max-width: 40rem;
}

.window-main li a{
    color: #d951d9;
    text-decoration: none;
}

#padders{
    padding: 10px;

}
#padders > img{
    width: 100%;
}
#cemetery{
    width: 100%;
    margin-top: auto;
}
.list > dt{
    font-weight: bold;
}
#flex{
    display:flex;
    justify-content: center;
}

#backdrop{
    display: flex;
}