
body{

    font-family: HelveticaNeue;
    background-attachment: fixed;
    max-width: 800px;
    margin: auto;
    background-color: var(--background);
    background-image: url(../blogResources/july26/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text)
}
.header{
    height: 200px;
    width: 100%;
    position: relative;
    background-image: url(../blogResources/july26/header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    
    div{
        
        position: relative;
        text-align: center;
        width: 300px;
        top: 30%;
        margin: auto;
    }
    h1,h4{
        padding: 5px;
        margin: auto;
        margin-bottom: 20px;
        width: fit-content;
        background-color: rgb(240, 248, 255);
    }
}

#subheader{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.778);
    margin-bottom: 40px;
    p{
        margin: 0;
    }
}

.fileSystem{
    a:link{color: var(--link);}
    a:visited{color: var(--link);}
}

.page{
    
    background-color: var(--foreground);
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    img{
        display: block;
        max-width: 70%;
        max-height: fit-content;
        margin: auto;
    }
    h2,h3{
        color: var(--bodyText);
    }
    h3{
        width: 100%;
        border-top: solid 1px;
        margin-top: 40px;
    }
    p{
        color: var(--bodyText);
        text-align: justify;
        font-family: Arial;
        font-size: 12pt;
        line-height: 1.1;
    }
    a:link{text-decoration: dotted underline; color: var(--bodyLink);}
    a:hover{text-decoration: none; color: var(--bodyLink);}
    a:visited{text-decoration: dotted underline; color: var(--bodyLink);}
}

@media only screen and (orientation: portrait) {
    .sideBySide{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (orientation: landscape) {

}

.sideBySide{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    text-align:justify;
    justify-content: center;
    div,img{
        margin-left: 10px;
        margin-right: 10px;
    }
    div{
        width: 50%
    }
    img{
        margin: auto;
        height: 100%;
    }
}

.imageCarousel{
    display: flex;
    flex-direction: row;
    overflow: auto;
    img{
        margin-right: 10px;
        height: 300px;
    }
}

.imgCaption{
    p{
        margin: 5px;
        text-align: center;
    }
}